<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">A Record of Records</h1>
    <p>The music collection of two college roommates</p>
  </div>
</div>