<nav class="navbar navbar-expand-lg bg-danger" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ relative_path }}index.html">Record Collection</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="{{ relative_path }}eden.html">Eden</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="{{ relative_path }}ayesha.html">Ayesha</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ relative_path }}eden.html" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Quickview</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for records in eden.records %}
          <li><a class="dropdown-item" href="{{ relative_path }}eden-records/{{ records.slug}}.html">{{ records.title }}</a></li>
          {% endfor %}
          {% for records in ayesha.records %}
          <li><a class="dropdown-item" href="{{ relative_path }}ayesha-records/{{ records.slug}}.html">{{ records.title }}</a></li>
          {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>