{% extends '_templates/base.njk' %}

{% block page_title %}Ayesha{% endblock %}

{% block page_description %}A catalogue of my roommate's records.{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="../img/ayesha-bio.jpg" alt="" class="img-fluid mb-4">
    </div>
    <div class="col-sm-8">
      <h1>Ayesha's Collection</h1>
      <p>Ayesha is my roommate and one of my closest friends. She is also a junior, but she's a pre-med student majoring in mathematics (like a real psychopath). Ayesha is a very talented artist, hard-working student, and one of the kindest people I've ever met. Sophomore year, she joined a K-Pop dance group called K-Beat. Now, she's the Vice President!</p>
      <p>Ayesha fell in love with k-pop at age 10, and I don't think she'll ever fall out of love. My lengthy knowledge about the genre comes entirely from her tangents about BTS, Ateez, P1 Harmony, and a bunch of other groups I cannot keep track of! Let's just say, she is extremely hyped for the upcoming reunion tour of BTS.</p>
      <p>Although Ayesha collects tons of K-Pop merchandise, photo cards, and albums, only a few of them come in the form of vinyl. She mostly purchases CDs, which often come with photo-albums, stickers, and other surprises featuring the "idols" in the group.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-lg-2">
      {% for records in ayesha.records %}
  <div class="col">
    <div class="card text-bg-danger mb-3 text-center">
      <img src="img/{{ records.slug }}.jpg" class="card-img-top" alt="...">
      <a href="{{ relative_path }}ayesha-records/{{ records.slug }}.html" class="card-link">{{ records.title }}</a>
    </div>
  </div>
      {% endfor %}
  </div>
</div>
{% endblock %}