{% extends '_templates/base.njk' %}

{% block page_title %}Ayesha{% endblock %}

{% block page_description %}A catalogue of my roommate's records.{% endblock %}

{% block content %}
<article class="container">
  <h1>Ayesha's Collection</h1>
  <p>Ayesha is my roommate and one of my closest friends. She fell in love with k-pop at age 10, and I don't think she'll ever fall out of love. Now, my lengthy knowledge about the genre comes entirely from her.</p>
</article>
{% endblock %}