{% extends '_templates/base.njk' %}

{% block page_title %}Eden{% endblock %}

{% block page_description %}A catalogue of all my records.{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="img/eden-bio.jpg" alt="" class="img-fluid mb-4">
    </div>
    <div class="col-sm-8">
      <h1 class="justify-content-start">Eden's Collection</h1>
      <p>I'm Eden Shamy, a junior at the University of Texas at Austin. I study journalism, and this website is part of the Intro to Coding for Journalists class taught by Professor Christian McDonald.</p>
      <p> My record collection is small but eclectic. I love all kinds of classic rock music, metal, folk, and more. Although not represented here, more modern music and hyper pop are my guilty pleasure listens.</p>
      <p>My dad got me into records. He gifted me most of what I own alongside a Victrola for my high school graduation. Actually, I suppose most of these vinyls were gifts from family and friends! Also, shout out to Professor Raoul Hernandez for bewstowing many wonderful records upon me and other students in his Music Journalism course.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for records in eden.records %}
  <div class="col">
    <div class="card text-bg-danger mb-3 text-center">
      <img src="img/{{ records.slug }}.jpg" class="card-img-top" alt="...">
      <a href="{{ relative_path }}eden-records/{{ records.slug }}.html" class="card-link">{{ records.title }}</a>
    </div>
  </div>
      {% endfor %}
  </div>
</div>
{% endblock %}