{% extends '_templates/base.njk' %}

{% block page_title %}Eden{% endblock %}

{% block page_description %}A catalogue of all my records.{% endblock %}

{% block content %}
<article class="container">
  <h1>Eden's Collection</h1>
  <p>I'm Eden, and my record collection is small but eclectic. My teenage obsession with Greta Van Fleet is evident... but I love all kinds of classic rock music, metal, folk and more. My dad got me into records, gifting me most of what I own.</p>
</article>
{% endblock %}