{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
  <div class="col col-md-10 col-lg-8">
    <h1 class="display-6">A catalogue of two roommates' vinyl collection</h1>
    <p class="lead">I'm Eden, and my roommate is Ayesha. Our friendship began on the first day of freshman year at the University of Texas. My dog Sofie runs this apartment, where we've all lived together for the past two years. Ayesha and I have vastly different music tastes, but it's always fun to hear something new. Sofie does not like loud noises, but she permits us to play our records on the Victrola in the living room.</p>
  </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
  <div class="col">
    <h2 class="text-center">Eden, Ayesha & Sofie</h2>
    <img src="../img/eclipse.jpg">
    <img src="../img/sofie.jpg">
    <img src="../img/best-friends.jpg">
  </div>
  </div>
</div>

{% endblock %}