{% extends '_templates/base.njk' %}

{% block page_title %}Sofie's Apartment{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
        <h1>This is Sofie's apartment -- we're just living in it</h1>
        <p>I'm Eden, and my roommate is Ayesha. Our friendship begain on the first day of freshman year at the University of Texas. My dog Sofie runs this apartment, where we've all lived together for the past two years. Sofie does not like loud noises, but she permits us to play our records on the Victrola in the living room.</p>
        <h3>Our Favorites</h3>
    </div>
  </div>
</div>
{% endblock %}