{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
  <div class="col col-md-10 col-lg-8">
    <h1 class="display-6">Catalogue of college roommates' vinyl collection</h1>
    <p class="lead">I'm Eden, and my roommate is Ayesha. Our friendship began on the first day of freshman year at the University of Texas. My dog Sofie runs this apartment, where we've all lived together for the past two years. Ayesha and I have vastly different music tastes, but it's always fun to hear something new. Sofie does not like loud noises, but she permits us to play our records on the Victrola in the living room.</p>
  </div>
  </div>
</div>

<div class="container" id="bio">
  <div class="row justify-content-center">
  <div class="col">
    <h2 class="text-center">Eden ~ Sofie ~ Ayesha</h2>
    <img class="img-fluid" src="../img/eclipse.jpg">
    <img class="img-fluid" src="../img/sofie.jpg">
    <img class="img-fluid" src="../img/best-friends.jpg">
  </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center row-cols-1 row-cols-md-3 row-cols-lg-3 g-4">
  <div class="col">
  <h2 class="text-center">Our Favorites:</h2>
    <div class="card text-bg-danger mb-3 text-center">
      <img src="../img/abbey-road.jpg" class="card-img-top" alt="...">
      <a href="{{ relative_path }}eden-records/abbey-road.html" class="card-link">Abbey Road</a>
    </div>
    <div class="card text-bg-danger mb-3 text-center">
      <img src="../img/deja-vu.jpg" class="card-img-top" alt="...">
      <a href="{{ relative_path }}eden-records/deja-vu.html" class="card-link">Deja Vu</a>
    </div>
    <div class="card text-bg-danger mb-3 text-center">
      <img src="../img/indigo.jpg" class="card-img-top" alt="...">
      <a href="{{ relative_path }}ayesha-records/indigo.html" class="card-link">Indigo</a>
    </div>
  </div>
  </div>
</div>

{% endblock %}