#jumbo {
    background: url(../img/victrola.jpg) no-repeat center;
    background-size: cover;
    color: white;
    text-shadow: 2px 4px 3px black;
    padding-top: 12rem;
    margin-bottom: 30px;
  }