// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';
@import "jumbotron";
@import "footer";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', Helvetica, sans-serif;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

.container {
  margin-bottom: 40px;
}

.card {
  font-size: 25px;
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;

  a:link {
    color: white;
  }

  a:hover {
    color: blue;
  }

  a:visited {
    color: white;
  }
}

.lead {
  font-size: 25px;
}

#bio {
  img {
    border-style: solid;
    border-width: 8px;
    border-color:  rgb(214, 25, 25);
  }
}